<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsClothes.mapper.CartMapper">
	<!-- 动态sql -->
	<sql id="baseSql">             
		id,product_id,user_id,product_name,product_imgpath,unit_price,pcount,item_date
	</sql>
	<select id="findByUserId" resultMap="Carts">
		select <include refid="baseSql"/> from t_cartitem
		where user_id=#{userId} and product_id=#{productId}
	</select>
	<update id="updatePCount" parameterType="list">
		update t_cartitem 
		<set>
			<trim prefix="pcount=case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					when id=#{item.id} then #{item.pCount}
				</foreach>
			</trim>
		</set>
		where id in
		<foreach collection="list" item="item" index="index"
			separator="," open="(" close=")">
			#{item.id}
		</foreach>

	</update>
	<update id="updateCartItemPCount">
		update t_cartitem set 
		pcount=#{pCount} where id=#{id}
	</update>
	<insert id="insertCart" parameterType="CartItem">
		insert into t_cartitem values(null,#{productId},#{userId},#{productName},#{productImgpath},#{unitPrice},#{pCount},now())
	</insert>
	<select id="findCartItems" parameterType="int" resultMap="Carts">
		select <include refid="baseSql"/> from t_cartitem
		where user_id=#{userId}
	</select>
	
	<delete id="deleteCartItem">
		delete from t_cartitem where id=#{id}
	</delete>
	
	<delete id="batchDelCartItems">
		delete from t_cartitem where id in 
		<foreach collection="array" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	<select id="findCartItemsById" resultMap="Carts">
		select <include refid="baseSql"/> from t_cartitem where id in
		<foreach collection="array" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>
	<resultMap type="CartItem" id="Carts">
		<id property="id" column="id"/>
		<result property="productId" column="product_id"/>
		<result property="userId" column="user_id"/>
		<result property="productName" column="product_name"/>
		<result property="productImgpath" column="product_imgpath"/>
		<result property="unitPrice" column="unit_price"/>
		<result property="pCount" column="pcount"/>
		<result property="itemDate" column="item_date"/>
	</resultMap>
	
</mapper>